# This is a  basic workflow to help you get started with Actions

name: CI

on:
  push:
  schedule:
    - cron: '0 * * * *'

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  build:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v2
      
      - name: Setup Python
        uses: actions/setup-python@v2
        with:
           python-version: '3.x'

      - name: Set  TimeZone
        run: |
          cp /usr/share/zoneinfo/Asia/Shanghai /etc/localtime
          date

      # Runs a set of commands using the runners shell
      - name: Run  test
        run: |
          python -m pip install --upgrade pip
          pip install flask
          pip install requests
          pip install html2text
          pip install sqlalchemy==1.3.23
          pip install flask_sqlalchemy
          pip install parsel
          pip install pyyaml
          pip install flask_cors
          pip install PyExecJS
          python myhacknews2.py
          echo test, and deploy your project.
      - name: commit mysec.db
        run: | 
          git config user.name hhackk
          git config user.email hack163com@163.com
          git add .
          git commit -m "mysec.db" || echo ok1
          git pull || echo ok2
          git push  || echo ok3
          
      - uses: actions/checkout@v2
        with:
           ref: gh-pages
      - name: copy
        run: |
          cp /tmp/*articles.json data/
          git config user.name hhackk
          git config user.email hack163com@163.com
          git add .
          git commit -m "add data" || echo ok
          git push || echo ok
